
.navbar-brand{
    /* text-transform: uppercase; */
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: linear-gradient(to right, #f10606 ,#eb0d0d, #f10606,  #d8b8b8,  #f10606, #f10606);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
}

#modal{
    margin: auto;

}

h1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: lighter;
}

.email{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
    
}
.pwd{
    margin: auto;
    margin-bottom: 20px;
}

.remember{
    margin: auto;
}

.register{
    text-align: right;
}

.btn-danger{
    margin: auto;
    margin-bottom: 40px;
}
